@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400');

:root {
  --dark: #688b9c;
  --light: #f0f5f9;
  --accent: #5e7086;
  --warning: #b67b3f;
  font-family: 'Source Code Pro', monospace;
  font-size: 6vw;
}

button {
}

cc-header {
  height: 20vw;
  display: block;
}